body {
  background: url(//img.zing.vn/products/jx2/skin-2015/images/subpage/bg-body.gif) repeat scroll 0 0 transparent!important;
}

.server {
  list-style: none;
  margin: 0;
  padding: 0;
}

.server > li {
  margin-bottom: 5px;
}

.server > li > a {
  display: block;
  background: #d65858;
  color: #fff;
  font-size: 14px;
  padding: 10px 12px;
  font-weight: bold;
}

.server > li > a > .hot {
  background: yellow;
  color: #d65858;
  padding: 2px 7px;
  font-size: 12px;
  font-weight: bold;
}

.top-level {
  list-style: none;
  padding: 0;
  margin: 0;
}

.top-level > li {
  margin-bottom: 5px;
}

.top-level > li > .left {
  font-weight: bold;
  color: #d65858;
  text-shadow: 1px 0px 3px #ffff00;
}

.post-item {
  padding: 15px 0px;
  border-top: 1px solid #ccc;
}

.post-item > .left > a {
  width: 100%;
  display: block;
  border: 1px solid #ccc;
}

.post-item > .left > a > img {
  width: 100%;
  min-height: 105px;
}

.post-item > .right > .title a {
  color: #34a853;
}

.bannder-game > img {
  width: 100%;
  max-height: 330px;
}
.menu {
  background: #fff;
  width: 100%;
  margin-bottom: 10px;
}

.menu > li {
  text-transform: uppercase;
}
.menu > li > a {
  color: #34a853;
  font-weight: bold;
}

.menu > li > .active,
.menu > li:hover > a {
  background: #34a853;
  color: #fff;
}

.color-34a853 {
  color: #34a853 !important;
}

.post-tool-bar {
  margin-top: 6px;
}

.header-category-detail > .name,
.header-post-detail > .name {
  font-weight: bold;
  color: #d65858;
}

.header-post-detail > .time-created {
  font-size: 14px;
}

.post-detail .category-name {
  background: #b91e1e;
  color: #fff;
  padding: 3px 7px;
}

.item_quanlity_0 {
  color: #868282;
}

.item_quanlity_1 {
  color: #34a853;
}

.item_quanlity_2 {
  color: #7d8cf5;
}

.item_quanlity_3 {
  color: #9e46a7;
}

.item_quanlity_4 {
  color: #ee815a;
}


.item_quanlity_5 {
  color: #d65858;
}

.ul-style {
  list-style: none;
  padding: 0;
  margin: 0;
}

.body-card-storage {
  border-left: 1px solid #d65858;
  border-right: 1px solid #d65858;
  border-bottom: 1px solid #d65858;
  padding-top: 18px !important;
}

.title-card-storage {
  border: 1px solid #d65858;
}

.title-card-storage > a {
  font-weight: bold;
  color: #fff !important;
  background: #d65858;
}

.color-d65858 {
  color: #d65858 !important;
}

.menu-active {
  background: #d65858 !important;
  color: #fff !important;
}
