.left-t {  position: absolute; z-index: 1; left: 0px; margin-left: -155px; top: 70px;  }  .top-left-noel {  display: block; position: absolute; background-image: url(http://ciplay.dev/templates/ciplay//css/img/top-left-noel.png); height: 143px; width: 143px; margin-left: -185px;  }  .right-t {  position: absolute; z-index: 1; right: 0px; margin-right: -155px; top: 70px;  }  .top-right-noel {  display: block; position: absolute; background-image: url(http://ciplay.dev/templates/ciplay//css/img/top-right-noel.png); height: 143px; width: 143px; margin-right: -185px; right: 0px;  }  .left-pere-noel {  position: absolute; margin-left: -157px;  } .right-pere-noel {  position: absolute; margin-top: 243px;  } .list-event {  display: block; width: 90%; padding: 5px; margin-bottom: 20px;  }  .list-event > li {  display: block; padding: 5px; border: 1px solid #fff; margin-bottom: 10px; opacity : 1; } .list-event > li > a{  -webkit-transition-property: opacity; -moz-transition-property: opacity; -webkit-transition-duration: 800ms; -moz-transition-duration: 800ms;  }  .list-event > li > .hide-event{  position: absolute; height: 62px; width: 0px; backgroud: #1EB353; background: #1EB353; opacity: 0.9; -webkit-transition-property: width; -moz-transition-property: width; -webkit-transition-duration: 800ms; -moz-transition-duration: 800ms; overflow: hidden; color: #fff;  }  .list-event > li > .hide-event > p{  margin-left:10px;  }  .list-event > li:hover .hide-event{  width: 664px;  }  .list-event > li:hover > a{  opacity : 0.0;  } .MyTable{   border-collapse: collapse; border: 1px solid #7f0a09;  } .MyTable th {  background: #790000; border: 1px solid #7f0a09; color: #fff; padding: 5px 10px; text-align: center; font-weight: bolder;  }  .MyTable td {  padding: 5px;  } .form_select{  margin-bottom: 10px; height: 32px;  }  .strantion {  border:1px solid #7f0a09;margin-top: 10px; -webkit-transition-property: border; -webkit-transition-duration: 500ms;  } .strantion:hover {  border: 1px solid #fff;  } .btn_xn { font-family: RobotoCondensed-Regular; }.inT {width:150px}
.Icon li{
	background: url(//img.zing.vn/products/jx2/events/mini-subweb-2015/images/subpage/icon-2.png) 0 10px no-repeat;padding-left: 12px;
}
	.isloading-wrapper.isloading-right{margin-left:10px;}
	.isloading-overlay{position:relative;text-align:center;}.isloading-overlay .isloading-wrapper{background:#FFFFFF;-webkit-border-radius:7px;-webkit-background-clip:padding-box;-moz-border-radius:7px;-moz-background-clip:padding;border-radius:7px;background-clip:padding-box;display:inline-block;margin:0 auto;padding:10px 20px;top:10%;z-index:9000;}

	/*Glyphicon Spinner*/
	.glyphicon-spin {
		-animation: spin .9s infinite linear;
		-webkit-animation: spin2 .9s infinite linear;
	}

	@-webkit-keyframes spin2 {
		from { -webkit-transform: rotate(0deg);}
		to { -webkit-transform: rotate(360deg);}
	}

	@keyframes spin {
		from { transform: scale(1) rotate(0deg);}
		to { transform: scale(1) rotate(360deg);}
	}

@font-face{
    font-family:'RobotoCondensed-Regular';
	src:url('RobotoCondensed-Regular.ttf');
 }

body {
	font-family: 'RobotoCondensed-Regular', sans-serif;	
	font-size: 13px;
  background: url(//img.zing.vn/products/jx2/skin-2015/images/subpage/bg-body.gif) repeat scroll 0 0 transparent!important;
}
.playgame-menu {
	float: left;
  width: 100%;
}

.playgame-menu .menu {
	margin: 0;
	padding: 0;
	float: left;
  list-style: none;
}

.playgame-menu .menu > li{
	float: left;
	margin-right: 3px;
}

.playgame-menu .menu  > li > a{
	text-decoration: none;
  padding: 9px 10px;
  display: block;
  background: #34a853;
  color: #fff;
  font-weight: bold;
  min-width: 100px;
  text-align: center;
}

.playgame-menu .menu > li:hover > a {
  background: #246d38;
}
